@media screen and (min-width: 768px) {
  .fixed-header_scrolled .header__navigation {
    padding-top: 0;
  }

  .fixed-header_scrolled {
    height: 70px;

    border-bottom: none;
    opacity: 0.7;
  }

  .fixed-header_scrolled .logo {
    visibility: hidden;
  }
}

@media screen and (min-width: 1020px) {
  .get-quote__form {
    width: 66%;
  }
}

@media screen and (max-width: 1019px) {
  .page {
    width: 100vw;
    max-width: 100%;
  }

  .wrapper {
    width: calc(100vw - 80px);
  }

  .slider {
    margin-bottom: 3.2vw;
  }
  .services {
    border-bottom: none;
  }
}

@media (min-width: 768px) and (max-width: 1019px) {
  .header__navigation {
    padding-top: 7px;
  }
  .services__content  .columns__column {
    margin-right: 5%;
  }

  .about .layout-3-column .columns__column {
    width: 31.824%;
  }

  .get-quote .columns__column {
    width: 57.554vw;
  }

  .get-quote__content {
    width: 32.122093%;
    padding-left: 2px;
  }

  .portfolio__image {
    width: 30%;
  }

  .slide__block {
    height: calc(58.82291666666667vw + 95px);
    padding-top: 71px;
  }
  .slide {
    border-bottom-width: 4.52px;
  }
  .services__title {
    padding-top: 24px;
  }
  .services__header {
    margin-bottom: 38px;
  }
  .services .layout-3-column .columns__column {
    margin-bottom: 50px;
  }
  .services .layout-3-column {
    margin-bottom: 24px;
  }
  .categories {
    margin-bottom: 29px;
  }
  .portfolio {
    margin-bottom: 41px;

    border-bottom-width: 7.6px;
  }
  .about__header {
    margin-bottom: 38px;
  }
  .about__photo {
    margin-bottom: 12px;
  }
  .about .item__content h4 {
    padding-bottom: 5px;
  }
  .about .item__content {
    margin-bottom: 10px;
  }
  .about {
    padding-bottom: 12px;

    border-bottom: none;
  }
  .get-quote__form input {
    padding: 8px 10px 8px 10px;
  }
  .get-quote__header {
    padding-top: 44px;
    padding-bottom: 24px;
  }
  .get-quote .columns__column > *:not(:last-child) {
    margin-bottom: 12px;
  }
  .get-quote__form textarea {
    padding: 7px 10px 8px 10px;
  }
  .get-quote__button {
    margin-top: 6px;
  }
  .get-quote__form {
    padding-bottom: 26px;
  }
  .get-quote__content h4 {
    padding-bottom: 6px;
  }
  .get-quote__content p {
    max-height: 130px;
    margin-bottom: 10px;
  }
  .layout-4-column {
    margin-bottom: 55px;
  }
  .phone.phone_vertical {
    width: 23.56770833vw;
    height: 47.3958333vw;
  }

  .phone.phone_horizontal {
    width: 47.3958333vw;
    height: 23.56770833vw;
  }

  .phone img {
    width: 89.887%;
    height: auto;
  }
  .phone.phone_horizontal img {
    width: 95.1811%;
  }
  .phone__image {
    width: 78.65168%;
    height: 69.27374%;

    background-size: cover;
  }

  .phone_horizontal .phone__image {
    width: 69.27374%;
    height: 78.65168%;
  }
  .phone.phone_horizontal {
    top: 33.1%;
    left: 41.5%;
  }

  .phone_vertical .phone__image {
    top: 13.1%;
    left: 5.5%;
  }

  .phone.phone_vertical {
    top: 13.6%;
    left: 11%;
  }

  .phone__shadow {
    background-size: cover;
  }
  .phone_horizontal .phone__shadow {
    background-size: cover;
  }
  .slider-chev {
    top: 56.12431444%;

    width: 17px;
    height: 29px;
    padding: 0;

    background-size: contain;
  }

  .slider-chev_left {
    left: calc(3.90625% - 1px);
  }

  .slider-chev_right {
    right: calc(3.90625% - 3px);
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: calc(100vw - 60px);
  }
  .about .layout-3-column {
    margin-bottom: 10px;
  }

  .about .layout-3-column .columns__column {
    width: 100%;
  }
  .about .layout-3-column .columns__column:nth-last-child(-n+3) {
    margin-bottom: 34px;
  }

  .header {
    height: 71px;

    border-bottom: none;
  }

  .logo {
    align-self: flex-start;
    margin-left: calc(50vw - 70px);
    padding-top: 24px;

    font-size: 19.6875px;
    line-height: 24px;
    letter-spacing: -0.03em;
  }

  .description {
    letter-spacing: 0;
  }

  .menu.open .logo-2 {
    position: absolute;
    left: 71px;

    display: flex;
    margin-left: 0;
  }
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    width: 100%;
    height: 100vh;

    background-color: #2d303a;
    opacity: 0.6;

    transition-delay: 0.3s;
  }

  .menu {
    display: block;
  }

  .menu-overlay.open {
    display: block;
  }

  .menu.open .menu__navigation {
    position: absolute;

    display: block;
    margin-top: 234px;
    padding-left: 71px;
  }

  .menu-btn {
    position: absolute;
    top: 26px;
    left: 20px;
    z-index: 10000;

    display: none;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 20px;

    cursor: pointer;

    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
  }

  .menu-btn__burger {
    width: 25px;
    height: 2.4px;

    background: #ffffff;
    border-radius: 5px;

    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;;
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;

    width: 25px;
    height: 2.4px;

    background: #ffffff;
    border-radius: 5px;

    -webkit-transition: 0.5s ease-in-out;
       -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
         -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-8.8px);
  }
  .menu-btn__burger::after {
    transform: translateY(8.8px);
  }

  .menu-btn.open {
    transform: rotate(90deg);
  }

  .menu__navigation li {
    top: 229px;
    left: 0;

    padding-bottom: 27px;

    font-size: 24px;
    line-height: 29px;
    font-family: Lato-Bold, Helvetica, sans-serif;
    color: #ffffff;
    letter-spacing: -0.035em;
  }

  .menu.open {
    transform: translateX(0%);
  }

  .menu-btn {
    display: flex;
  }
  .header__navigation {
    display: none;
  }

  .slide {
    border-bottom-width: 2.21px;
  }
  .slide__block {
    height: calc(58.825vw + 71px);
    padding-top: 71px;
  }
  .slider-chev {
    top: 57.69745%;

    width: 15px;
    height: 25px;

    background-size: contain;
  }

  .slider-chev_left {
    left: calc(2.667777% - 3px);
  }

  .slider-chev_right {
    right: calc(2.667777% - 3px);
  }

  .phone.phone_vertical {
    top: 8.2%;
    left: 10.7%;
  }
  .phone.phone_horizontal {
    top: 29.6%;
    left: 40.94%;
  }

  .phone.phone_vertical {
    width: 23.7333vw;
    height: 47.73333vw;
  }

  .phone.phone_horizontal {
    width: 47.73333vw;
    height: 23.7333vw;
  }

  .phone img {
    width: 89.887%;
    height: auto;
  }
  .phone.phone_horizontal img {
    width: 95.1811%;
  }
  .phone__image {
    width: 78.65168%;
    height: 69.27374%;

    background-size: cover;
  }

  .phone_horizontal .phone__image {
    width: 69.27374%;
    height: 78.65168%;
  }

  .phone_vertical .phone__image {
    top: 13.5%;
    left: 6%;
  }

  .phone__shadow {
    background-size: cover;
  }
  .phone_horizontal .phone__shadow {
    background-size: cover;
  }

  .layout-4-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 7%;
    padding-bottom: 11%;
  }

  .layout-4-column .columns__column {
    flex: 0 1 48%;
    width: 48%;
    height: auto;
    margin: calc(4.4444445%/2) 0;
  }

  .layout-4-column .columns__column:nth-child(n+9) {
    display: none;
  }

  .services .wrapper {
    width: calc(100vw - 64px);
  }

  .services .layout-3-column {
    margin-bottom: 0;
  }
  .get-quote {
    border-bottom: none;
  }
  .get-quote .columns__column {
    width: 100%;
  }

  .get-quote__header {
    padding-top: 11%;
    padding-bottom: 24px;
  }

  .get-quote__button {
    width: 100%;
  }

  .get-quote__form {
    width: 100%;
    padding-bottom: 10px;
  }
  .get-quote__form input {
    padding: 8px;
  }
  .get-quote__form textarea {
    padding: 7px 8px 8px 8px;
  }

  .get-quote__button .button {
    width: 100%;
    height: 50px;
  }

  .get-quote__content {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .get-quote__content p {
    margin-bottom: 8px;
  }

  .get-quote__content h4 {
    padding-bottom: 4px;
  }
  .get-quote__form .popup {
    max-width: 70%;
  }
  .layout-2-column {
    padding-bottom: 21px;
  }

  .layout-2-column .row {
    padding-top: 3px;
  }

  .footer__content {
    margin-right: auto;
  }
  .footer .copyright {
    display: none;
  }

  .services .layout-3-column .columns__column {
    margin-bottom: 7vw;
  }
  .services__header {
    margin-bottom: 8vw;
  }
  .portfolio__header {
    padding-top: 30px;
  }
  .portfolio__header {
    margin-bottom: 17px;
  }
  .portfolio {
    margin-bottom: 0;

    border-bottom: none;
  }
  .categories {
    margin-bottom: 16px;
  }
  .about {
    padding-bottom: 0;

    border-bottom: none;
  }

  .about__header {
    margin-bottom: 7%;
  }
  .about .item__content {
    margin-bottom: 10px;
  }
  .about .item__content h4 {
    padding-bottom: 5px;
  }
  .get-quote__button {
    padding-top: 4px;
  }
  .get-quote .columns__column > *:not(:last-child) {
    margin-bottom: 11px;
  }
}

@media(hover: hover) and (pointer: fine) {
  li.navigation__item a:hover span {
    color: #f06c64;

    cursor: pointer;
  }

  li.navigation__item :not(a:hover span) {
    color: #f06c64;

    cursor: pointer;
  }

  .slider-chev:hover {
    cursor: pointer;
    opacity: 1;
  }

  .category:hover {
    color: #dedede;

    border: 1px solid #c5c5c5;
  }

  .about .ico:hover {
    background-color: #ffffff;
    cursor: pointer;
  }

  .button_colored:hover {
    color: #f0d8d9;

    background-color: transparent;
    border: 1px solid #f0d8d9;
    border-radius: 4px;
  }

  .socials .ico:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
}
