*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;

      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
}

body {
  font: 12px Lato-Regular, Helvetica, sans-serif;
  color: #8f8f8f;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main {
  width: 1020px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  height: 100%;
  margin: 0 auto;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  overflow: hidden;

  font-size: 12px;

  clip: rect(1px, 1px, 1px, 1px);
}

.header {
  height: 95px;

  text-transform: uppercase;

  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.header .wrapper,
.navigation {
  display: flex;
}

.header .wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;

  font-size: 25px;
  line-height: 6px;
  font-family: Lato-Bold, Helvetica, sans-serif;
  letter-spacing: -0.7px;
}

.logo a {
  display: block;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.logo span {
  color: #f06c64;
}

.navigation a {
  display: block;
  padding: 11px 0 0 14px;

  line-height: 6px;
  font-family: Lato-Bold, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: -0.2px;
}

.navigation > li:not(:last-child) > a:after {
  content: "\A";

  display: inline-block;
  width: 2px;
  height: 2px;
  margin-bottom: 3px;
  margin-left: 14px;

  background: #656d89;
  border-radius: 50%;
  opacity: 0.5;
}

li.navigation__item a:hover,
li.navigation__item a:active,
.navigation__item.navigation__item_selected a {
  color: #f06c64;
}

.slider {
  height: 600px;
  margin-bottom: 69px;

  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;
}

.slider__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
}

.slider-chev {
  align-self: flex-start;
  width: 16px;
  height: 27px;
  margin-top: 281px;
  padding: 10px;

  background: url(../assets/sliders/chev.png) no-repeat center;
  background-color: transparent;
}

.slider-chev:hover,
.slider-chev:focus,
.slider-chev:active {
  opacity: 0.4;
  cursor: pointer;
}

.slider-chev_right {
  margin-right: -2px;

  transform: rotate(180deg);
}

.slide {
  display: flex;
  width: 972px;
  height: 100%;
}

.phone {
  position: relative;

  display: flex;
  width: 240px;
  height: 483px;
}

.phone__container {
  position: relative;
  z-index: 900;

  width: 215px;
  height: 458px;

  background: url(../assets/sliders/phone.png) no-repeat center;
}

.phone.phone_vertical {
  margin-top: 53px;
  margin-left: 52px;
}

.phone_horizontal .phone__shadow {
  transform: scale(1, -1);
}

.phone.phone_horizontal {
  margin-top: 53px;
  margin-left: 169px;

  transform: rotate(90deg);
}

.phone__image {
  position: absolute;
  z-index: 901;

  width: 580px;
  height: 580px;

  background-repeat: no-repeat;
}

.phone_horizontal .phone__image {
  background-image: url(../assets/sliders/bg.jpg);
  background-position: 57px -105px;
  transform: rotate(-90deg);

  clip: rect(14px, 515px, 202px, 182px);
}

.phone_vertical .phone__image {
  background-image: url(../assets/sliders/layer_vertical.png);
  background-position: 0 -70px;

  clip: rect(65px, 202px, 398px, 14px);
}


.phone_horizontal .phone__shadow {
  margin-top: -26px;
}

.phone__shadow {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background: url(../assets/sliders/shadow.png) no-repeat center;
}

.services {
  height: 500px;
}

.services__header {
  width: 940px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.services .services__title {
  padding-bottom: 26px;

  font-size: 30px;
  line-height: 18px;
  font-family: Lato-Black, Helvetica, sans-serif;
  color: #666d89;
}

.services .services__description {
  font-size: 18px;
  line-height: 30px;
  font-family: Lato-Light, Helvetica, sans-serif;
  color: #767e9e;
}

.layout-3-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;
}

.columns__row:last-child {
  margin: 0;
}

.columns__column {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 30px;
}

.columns__column:nth-child(3n) {
  margin: 0;
}

.columns__item {
  display: flex;
  align-items: flex-start;
}

.item__content h4 {
  padding-bottom: 9px;

  font-size: 18px;
  line-height: 18px;
  font-family: Lato-Black, Helvetica, sans-serif;
  color: #666d89;
}

.item__content p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
  width: 100%;
  overflow: hidden;

  font-size: 12px;
  line-height: 22px;
  font-family: Lato-Regular, Helvetica, sans-serif;
  color: #767e9e;
  word-break: break-all;

      -ms-box-orient: vertical;
  -webkit-line-clamp: 3;
     -moz-line-clamp: 3;
      -ms-line-clamp: 3;
}

.ico {
  flex: 0 0 60px;
  height: 60px;
  margin-right: 20px;

  background-color: transparent;
  border: 2px solid #656d89;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.ico.ico_pen {
  background: url(../assets/services/pen.png) no-repeat center;
}

.ico.ico_bulb {
  background: url(../assets/services/bulb.png) no-repeat center;
}

.ico.ico_heart {
  background: url(../assets/services/heart.png) no-repeat center;
}

.ico.ico_phone {
  background: url(../assets/services/phone.png) no-repeat center;
}

.ico.ico_bubble {
  background: url(../assets/services/bubble.png) no-repeat center;
}

.ico.ico_star {
  background: url(../assets/services/star.png) no-repeat center;
}
